.header {
    background-color: #aaaaaa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    & h1 {
        display: inline-block;
        color: #fff;
        /* margin-left: 40x; */
        padding-left: 20px;
    }

    & div {
        float: right;
        padding-top: 15px;
        margin-right: 20px;

        & ul {
            list-style-type: none;

            & li {
                margin-right: 20px;
                display: inline-block;

                & a {
                    color: #ffffff;
                    text-decoration: underline;
                    text-underline-offset: 10px;
                }
            }
        }
    }
}

body {
    background-color: #2c6e7c;
}